<!-- CRUD APPLICATION TO MANAGE USERS -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-app="myapp">
    <div ng-controller="myctrl">
        <h1>Crud app</h1>
        Enter name: <input type="text" ng-model="name" id="name">
        Enter email: <input type="email" ng-model="email" id="email">
        <button ng-click="create()">Create</button>

        <ul>
            <li  ng-repeat="user in users">
            <span ng-show="!user.editing">{{user.name}}</span>
            <input type="text" ng-show="user.editing" ng-model="user.name" id="name1">
            <span ng-show="!user.editing">{{user.email}}</span>
            <input type="text" ng-show="user.editing" ng-model="user.email" id="email1">
            <button ng-click="read(user)">read</button>
            <button ng-click="update(user)">update</button>
            <button ng-click="delete(user)">delete</button>
            </li>
           
        </ul>
    </div>
</body>
<script>
    var app = angular.module("myapp",[]);
    app.controller("myctrl",function($scope){
        $scope.users=[];

        $scope.create = function()
        {
            if(!$scope.name)
            {
                alert("Kindly enter a name")
                document.getElementById("name").focus();
                return false;
            }
            else if(!$scope.email)
            {
                alert("Kindly enter a email")
                document.getElementById("email").focus();
                return false;
            }
            else if(!$scope.email.includes("."))
            {
                alert("Kindly enter valid email");
                document.getElementById("email").focus();
                return false;
            }
            else
            {
                var t = {"name":$scope.name,"email":$scope.email, "editing":false}
                if(!t.name)
                {
                    alert("Kindly enter a name")
                    document.getElementById("name").focus();
                    return false;
                }
                else if(!t.email)
                {
                    alert("Kindly enter a email")
                    document.getElementById("email").focus();
                    return false;
                }
                else{
                    $scope.users.push(t);
                    $scope.name="";
                    $scope.email=""
                }
            }
        }
        $scope.read = function(user){
            user.editing = true;
        }
        $scope.update = function(user)
        {
            if(!user.name)
            {
                alert("Kindly enter a name")
                document.getElementById("name1").focus();
                return false;
            }
            else if(!user.email)
            {
                alert("Kindly enter a email")
                document.getElementById("email1").focus();
                return false;
            }
            else if(!user.email.includes(".") || !user.email.includes("@"))
            {
                alert("Kindly enter valid email");
                document.getElementById("email1").focus();
                return false;
            }
            else{
                user.editing = false;
            }
        }
        $scope.delete = function(user)
        {
            var dc = confirm("y/n");
            if(dc==true){
                var idx = $scope.users.indexOf(user);
                $scope.users.splice(idx,1)
            }
        }
    });
</script>
</html>