<!-- CRUD APP -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-app="myapp">
    <div ng-controller="myctrl">
        <h1>CRUD APPLICATION</h1>
        name: <input type="text" ng-model="name" id="name">
        email: <input type="email" ng-model="email" id="email">
        <input type="button" value="create" ng-click="createuser()">

        <ul>
            <li ng-repeat="user in users">
                <span ng-show="!user.editing">{{user.name}}</span>
                <input ng-show="user.editing" type="text" ng-model="user.name">
                <span ng-show="!user.editing">{{user.email}}</span>
                <input ng-show="user.editing" type="text" ng-model="user.email">
                <input type="button" value="read" ng-click="read(user)">
                <input type="button" value="update" ng-click="update(user)">
                <input type="button" value="delete" ng-click="delete(user)">
            </li>
        </ul>
    </div>
    
</body>
<script>
    var app = angular.module("myapp",[]);
    app.controller("myctrl",function($scope){
        $scope.users=[];

        $scope.createuser = function(){
            if($scope.name==null){
                alert("Kindly enter a name")
                document.getElementById("name").focus();
                return false;
            }
            else if($scope.email==null){
                alert("Kindly enter a email")
                document.getElementById("email").focus();
                return false;
            }
            else if(!$scope.email.includes('.'))
            {
                alert("Kindly enter valid email");
                document.getElementById("email").focus();
                return false;
            }
            else{
                var userdata={"name":$scope.name,"email":$scope.email,"editing":false}
                if(userdata.name==""){
                    alert("Kindly enter a name")
                    document.getElementById("name").focus();
                    return false;
                }
                else if(userdata.email==""){
                    alert("Kindly enter a email")
                    document.getElementById("email").focus();
                    return false;
                }
                else{
                    $scope.users.push(userdata);
                    $scope.name="";
                    $scope.email=""
                }
            }
        }

        $scope.read = function(user){
            user.editing=true
        }
        $scope.update = function(user)
        {
            if( user.name=="")
            {
                alert("Kindly enter a name")
                document.getElementById("name").focus();
                return false;
            }
            else if(user.email=="")
            {
                alert("Kindly enter a email")
                document.getElementById("email").focus();
                return false;
            }
            else if(!user.email.includes('.'))
            {
                alert("Kindly enter valid email");
                document.getElementById("email").focus();
                return false;
            }
            else{
                user.editing=false;
            }
        }
        $scope.delete = function(user){
            var dc = confirm("y/n");
            if(dc==true){
                var idx = $scope.users.indexOf(user);
                $scope.users.splice(idx,1)
            }

            else
            {
                alert("You chose to keep it")
            }
        }
    });
</script>
