<!-- Login form validation -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-app="myapp">
    <div ng-controller="myctrl">
        <form name="lof">
            Enter the username: <input type="text" name="name" ng-model="name" ng-minlength="5" ng-maxlength="8" required placeholder="Enter name"><br>
            <span ng-show="lof.name.$error.required && lof.name.$dirty">Please enter the name</span> <br>
            <span ng-show="lof.name.$error.minlength">The minimum length should be 5</span><br>
            <span ng-show="lof.name.$error.maxlength">The maximum length should be 8</span><br>

            Enter the Password: <input type="password" name="pass" ng-model="pass" ng-minlength="5" ng-maxlength="8" required placeholder="Enter name"><br>
            <span ng-show="lof.pass.$error.required && lof.pass.$dirty">Please enter the Password</span> <br>
            <span ng-show="lof.pass.$error.minlength">The minimum length should be 5</span><br>
            <span ng-show="lof.pass.$error.maxlength">The maximum length should be 8</span><br>
            
            <button ng-click="validate()" id="button">Login</button>
        </form>
        
    </div>
    <script>
        var app = angular.module("myapp",[]);
        app.controller("myctrl",function($scope){
            $scope.attempts=0;

            $scope.validate = function()
            {
                if($scope.name.toLowerCase()=="raksha" && $scope.pass=="123123"){
                    alert("login successful")
                }
                else{
                    $scope.attempts = $scope.attempts+1;
                    if($scope.attempts<=3)
                    {
                        alert("Try again, you have already tried : "+$scope.attempts)
                    }
                    else
                    {
                        alert("Exceeded maximum number of tries");
                        document.getElementById("button").disabled = true;
                    }
                }
            }
        });
    </script>
</body>
</html>